<h1>Photo Details</h1>

<a href="/photos/{{photo.id}}/edit">edit</a>

<p>Title: {{photo.title}}</p>
<p>Description: {{photo.description}}</p>

<img src="/photos/{{photo.filename}}" alt="Photo" width="1000" height="600">
